
/* Onglet section */
section{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:12px;
   
}

/* Titre de l'onglet */
h2{
    font-size:30px;
    color:#8b3dff;;
}


/* Bouton  */
.lien-site{
    text-decoration:none;
    font-size:20px;
    border-style: solid;
    width:40%;
    padding:15px;
    text-align:center;
    border-radius:30px;
    background-color: pink;
    border-color:pink;
    color:white;
    font-weight: bold;
    margin-bottom: 5px;
}

/* RESPONSIVE  */

/* Smartphone */
@media screen and (max-width:600px){
    .lien-site{
        width:90%;
    }
}

@media screen and (min-width:601px) and (max-width:720px){
    .lien-site{
        width:70%;
    }
}

/* Tablette */
@media screen and (min-width:721px) and (max-width:1023px){
    .lien-site{
        width:55%;
    }
}




